<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor = "C:\Python310\python.exe|C:\Python310\lib\site-packages\wfastcgi.py"
      resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
  <appSettings>
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\SdiPortal"/>
  <add key="WSGI_HANDLER" value="SdiPortal.wsgi.application"/>
  <add key="DJANGO_SETTINGS_MODULE" value="SdiPortal.settings"/>
  
  
  </appSettings>
</configuration>