{% extends "base.html"%}
{% block content %}
{% load static %}


<section id="request" dir="rtl">
    <div class="container ">
        <div class="row panel panel-default text-center">
            <div class="panel-heading">
                <div class="row">
                    <h1>هل تريد حذف هذا الطلب{{merge_sel.id}}</h1>

                </div>
            </div>
            <div class="panel-body">
                <form  method="POST">

                    {% csrf_token %}
                    <button type="submit" class="btn addFormm ">تاكيد</button>
                    <a class="btn deletFormm " onclick="history.back()">عودة</a>
                   
                </form>


            </div>
        </div>
    </div>

</section>
{% endblock %}