{% extends "base.html"%}
{% block content %}
{% load static %}




<section id="request" dir="rtl">
    <div class="container container aya ">
        <div class="row panel panel-default text-center">
            <div class="panel-heading h2details ">
                <div class="row">
                    <h2 class="h1puplish">طلبات الاستعلام</h2>
                    <!-- <button onclick="window.open('request-create.html','_self')" class="btn btn-success pull-center"><i class="fa fa-plus"></i> انشاء طلب جديد</button> -->
                </div>
            </div>
            <div class="panel-body inquriy">
                {% if request.user.Profiles.role_id.code == 3 %}
                {% if acceptRequests > 0 %}
                <span class="counter">{{acceptRequests}}</span>
                {% endif %}
                <button onclick="window.open('{% url 'inquiryRequestAcceptRequests' %}','_self')" class="btn btn-default">
                    <div class="panel ">
                        <div class=" panelBody ad">
                            <div class="iconTac ">
                     
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="panel-footer panels">
                                <h5>قبول الطلبات</h5>
                            </div>
                        </div>
                    </div>
                </button>
                {% endif %}
                {%  if request.user.Profiles.role_id.code == 2 or request.user.Profiles.role_id.code == 1%}
                {% if  request_count.is_approved == 1 %}
                <span class="counter">{{request_count.count}}</span>
                {% endif %}
                {% endif %}
                <button onclick="window.open('{% url 'inquiryRequestRecive' %}','_self')" class="btn btn-default">
                    <div class="panel ">
                        <div class="panelBody">
                            <div class="iconTac ">
                     
                                <i class="fa-solid fa-file-arrow-down"></i>
                            </div>
                            <div class="panel-footer panels">
                                <h5>الطلبات الواردة</h5>
                            </div>
                        </div>
                    </div>
                </button>
                <button onclick="window.open('{% url 'inquiryRequestSend' %}','_self')" class="btn btn-default">
                    <div class="panel ">
                        <div class="panelBody">
                            <div class="iconTac ">
                     
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </div>
                            <div class="panel-footer panels">
                                <h5>الطلبات الصادرة</h5>
                            </div>
                        </div>
                    </div>
                </button>
                <button class="btn btn-default" onclick="window.open('{% url 'inquiryRequestCreate' %}','_self')">
                    <div class="panel ">
                        <div class="panelBody">

                            <div class="iconTac ">
                     
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="panel-footer panels">
                                <h5>طلب جديد</h5>
                            </div>
                        </div>
                    </div>
                </button>
                <button onclick="window.open('{% url 'inquiryRequestArcieve' %}','_self')" class="btn btn-default">
                    <div class="panel ">
                        <div class="panelBody">
                            
                            <div class="iconTac ">
                     
                                <i class="fa fa-reply-all"></i>
                            </div>
                            <div class="panel-footer panels">
                                <h5>الأرشيف</h5>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <button onclick="window.open('{% url 'base' %}','_self');" class="btn deletFormm pull-left btndetails m-5 "
                style="margin-left: 10px;margin-bottom: 10px;"><i class="fa fa-undo"></i> عودة</button>

        </div>
    </div>

</section>


{% endblock %}