{% extends "base.html"%}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<style>
    .panel {
        margin-top: 15%;
    }
</style>
<div class="container">
    <div class="row panel panel-default text-center">
        <div class="panel-heading">
            <h1 >إضافة تبويبة جديده</h1>
            <hr>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
          {{form}}
                <button type="submit" class="btn btn-lg btn-success">انشاء</button>
                <button onclick="window.open('{% url 'base' %}','_self')" class="btn btn-lg btn-danger">إلغاء</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}