{% extends "base.html"%}
{% block content %}
{% load static %}

<section id="home2" class="homeapps">
    <div class="overlay">
        <div class="container">
            <div class="row">

                <div class="col-md-12 wow fadeIn head  headm" data-wow-delay="0.3s">
                    <h1 class="text-upper h1wezarat">
                        <hr class="spectra1 hrapps">تطبيقات منصة مصر المكانية
                    </h1>
                    
                    <p class="tm-white">
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<div class=" text-left mx-2 p-5 appsAlla">
    <a href="{% url 'cat_apps' %}" class="btn addFormm px-4 mt-4"> رجوع  <i class="fa-solid fa-angles-left iMarginIcon"></i> </a>
</div>
<div class="container-fluid shehta">
    {% if request.user.Profiles.role_id.code == 3 %}
    {% for each in cat %}
    
    {% if each.organization_name.id != 154 %}
    <div class="item clean divapps divapps1">
        <div class="apph4">
        <h4 class="text-center h4 h4apps">{{each.name}}</h4>
    </div>
    <div class="appitems">
        <img src="{{each.image.url}}" class="img1 imgsZize" alt="image">
        <p class="text-parag papps">{{each.description}}</p>
    </div>
        <div class="overlay" onclick="window.open('{{each.link}}')">
            <span></span>
            <span>الدخول الى التطبيق</span>
            <span></span>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    {% for each in cat %}

    
    <div class="item clean divapps">
        <h4 class="text-center h4 h4apps">{{each.name}}</h4>
        <img src="{{each.image.url}}" class="img1 imgsZize" alt="image">
        <p class="text-parag papps">{{each.description}}</p>

        <div class="overlay" onclick="window.open('{{each.link}}')">
            <span></span>
            <span>الدخول الى التطبيق</span>
            <span></span>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>






{% endblock content %}