{% extends "base.html"%}
{% block content %}
{% load static %}


<section id="request" dir="rtl">
    <div class="container ">
        <div class="row panel panel-default text-center">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3 text-left">
                        <button onclick="window.open('{% url 'admin_panel_index' %}','_self');"
                            class="btn btn-primary pull-left" style="margin-left: 5px;"><i class="fa fa-undo"></i>
                            عودة</button>
                    </div>
                    <h2 class="col-md-9" style="margin:0px;">جميع الرسائل التى تم ارسالها من قبل المستخدمين</h2>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">رقم الرساله</th>
                            <th scope="col">إسم المتسخدم</th>
                            <th scope="col">الجهه التابع لها </th>
                            <th scope="col">تاريخ الإرسال </th>
                            <th scope="col"><i class="fa fa-cogs setting"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in page_obj %}
                        <tr>
                            <td>{{ each.id }}</td>
                            <td>{{ each.profile_id.name }}</td>
                            <td>{{ each.profile_id.organization_name }}</td>
                            <td>{{ each.date }}</td>
                            <td class="row">
                                <a href="details/{{each.id}}" class="btn btn-warning" id='{{each.id}}'><i
                                        class="fa fa-info-circle"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!--Pagination-->
                <div class="container p-4 text-center">
                    <div class="pagination justify-content-center" style="direction: rtl;">
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">التالى &raquo; </a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}

                        {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; السابق </a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                    </div>
                </div>
                <!--end of Pagination-->


            </div>
        </div>
    </div>

</section>





{% endblock %}