{% extends "base.html"%}
{% block content %}
{% load static %}
{% load widget_tweaks %}

<section id="request" dir="rtl">
    <div class="container divCreate">
        <div class="row panel panel-default text-center">
            <div class="panel-heading">
                <div class="row">
                    <h1 class="h1Create">إنشاء طلب استخراج بيانات  جديد <i class="fa fa-plus"></i></h1>
                    <!-- <button class="btn btn-success pull-right"><i class="fa fa-plus"></i> انشاء طلب جديد</button> -->
                    <!-- <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-undo"></i> عودة</button> -->
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form class="container" dir="rtl" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group create">
                            <div class="col-md-9">
                                <input type="text" class="form-control col-md-4" id="showing"
                                    aria-describedby="id_user_sender" value="{{request.user.Profiles}}" disabled
                                    name="showing">
                                <input type="hidden" name="user_sender" id="id_user_sender"
                                    value="{{request.user.Profiles.id}}">
                                <small id="user_sender" class="form-text text-danger pull-left"
                                    style="font-size: 10px;">لايمكن تغيير إسم الجهه
                                    الطالبه</small>
                            </div>
                            <label for="exampleInputEmail1 " class="col-md-3 labelCreate geha">الجهه الطالبة للطلب  </label>
                        </div>
                        <div class="form-group create">
                            <div class="col-md-9">
                                {% render_field form.date class="form-control" disabled="true" %}
                                <small id="emailHelp" class="form-text text-danger pull-left"
                                    style="font-size: 10px;">لايمكن تغيير تاريخ
                                    الارسال</small>
                            </div>
                            <label for="exampleInputEmail1 " class="col-md-3 labelCreate date">تاريخ الارسال</label>
                        </div>
                        <div class="form-group create">
                            <div class="col-md-9 labelCreate Create links">
                                {% render_field form.path class="form-control" %}
                                <small id="emailHelp" class="form-text text-danger pull-left"
                                style="font-size: 10px;">المسار المخصص للبيانات الموجود على البيئة المؤمنة </small>
                            </div>
                            <label for="exampleInputEmail1 " class="col-md-3 labelCreate margeLink">برجاء إدخال مسار 
                                البيانات</label>
                        </div>
                        <div class="form-group create">
                            <div class="col-md-9">
                                {% render_field form.note class="form-control" placeholder="برجاء كتابة وصف عام لهذه البيانات التى تريد استخراجها " %}
                                <small id="emailHelp" class="form-text text-danger pull-left"
                                    style="font-size: 10px;">هذا الحقل مطلوب</small>
                            </div>
                            <label for="exampleInputEmail1 " class="col-md-3 labelCreate margeTetails">توصيف عام للبيانات</label>
                        </div>

                        <div class="col-md-12  divButton" style="margin-top: 2% ;">
                            <a class="btn deletFormm pull-left btnCreate " href="{% url 'extract_data' %}"
                            target="_self">إلغاء <i
                                class="fa fa-undo"></i></a>
                            <button type="submit" class="btn addFormm pull-left btnCreate" style="margin-right: 9px;">
                                إنشاء <i class="fa fa-backward"></i></button>

                        </div>



                    </form>
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>


</section>



{% endblock %}